/* @import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=League+Spartan:wght@100..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
  --foreground: #171717;
  --primary: #ff7979;
  --secondary: #fefefe;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
